# Ignore node_modules (for Node.js projects)
node_modules/
dest/

# Ignore environment variables (e.g., secrets)
.env
*.csv
# Ignore compiled files
*.class
*.pyc

# Ignore logs
logs/
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/
config/